/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Martel:wght@200;400;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lora', serif;
}

/* header */
header {
    background-color: #457adc;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Navbar styles with toggled dropdown */
nav {
    position: absolute;
    background-color: #457adc;
    padding: 0 1rem;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 3px #203268;
    display: none;
    top: 100%;
}

/* navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#menu {
    list-style-type: none;
}

#menu>li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #fbfbfb;
    font-weight: 400;
}

header a {
    text-decoration: none;
    color: #fbfbfb;
}

h1 {
    font-family: 'Lora', serif;
}

/* main content */
main {
    background-color: #fbfbfb;
    /* main section will push footer to bottom of page */
    flex: 1 0 auto;
    margin-top: 50px;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/dog-and-cat.jpg") no-repeat center center/cover;
}

/* footer */
#social {
    background-color: #457adc;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social i {
    font-size: 150%;
    color: #ffffff;
}

/* Media queries for tablet (768px), laptop (992px) and desktop (1200px) */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* main content */
    main {
        margin-top: 76px;
    }
}

/* laptops (992px) and larger */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #fbfbfb;
    }
}